*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
background-image: url('./img/image.jpg');
background-size: 100%;

}


.navbar {
  min-height: 10vh;
  background-color: rgb(61, 182, 252);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.active {
  color: rgb(255, 255, 255);
}

footer {
  bottom: 0;
  position: absolute;
  width: 100vw;
  height: 50px;
  background-color: aqua;
}

.btn-count {
  height: 40px;
  width: 100px;
  margin: 40px 20px;
  background-color: rgb(158, 190, 94);
  border-radius: 10%;
}

.text-count{
  font-size: 30px;
  margin-top: 20px;
}

.meal {
  margin-top: 5px;
  margin-left: 40px;
}

.text-meal {
  font-size: 25px;
  margin: 10px auto;
}

.radio {
  margin-bottom: 30px;
}

.list-ingr {
  width: 20vw;
  margin: 0 auto;
}

.list-ingr li {
  text-align: left;
  margin-bottom: 8px;
}
